{% include '../base.html' %}

<a href="/ask">Ask a question</a></br></br>
<a href="https://github.com/banool/qa-django-basic"><em>Check this out on Github</em></a>
</br>
</br>

<h2 style="line-height: 0px;">Questions with answers ({{ questions|length }})</h2>
Newest first.
<br />
{% for question in questions %}
<br />
<h3>{{ question.question }}</h3>
<p>
    
    <b>{{ question.answer_date }}</b></br>
    {{ question.answer }}
</p>
{% empty %}
<p>No one has asked any questions that I have answered yet :(</p>
{% endfor %}

</br>
</br>
</br>
<p>There are currently <b>{{ unanswered }}</b> unanswered questions.</p>
<p>All times are localised to San Francisco (my timezone) currently :)</p>